<a href="https://colab.research.google.com/github/Owino-Paul/Learn_Git/blob/master/Data_Exploration_With_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.

In [26]:
#import pandas and numpy libraries
import pandas as pd
import numpy as np

In [2]:
# upload a file
from google.colab import files
uploaded = files.upload()

Saving STEG_BILLING_HISTORY.csv to STEG_BILLING_HISTORY.csv

In [49]:
# load data
client_0_bills = pd.read_csv('/content/STEG_BILLING_HISTORY.csv')
client_0_bills.head(10)

<ipython-input-49-f02d5613aa85>:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  client_0_bills = pd.read_csv('/content/STEG_BILLING_HISTORY.csv')

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0,207,9.0,1,314,0,0,0,15638,15952,8,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0,207,9.0,1,541,0,0,0,15952,16493,12,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0,207,9.0,1,585,0,0,0,16493,17078,8,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0,203,9.0,1,1200,186,0,0,7770,9156,4,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0,203,6.0,1,1082,0,0,0,9156,10238,4,ELEC

# 2. What is the data type of the 'client_0_bills' variable ?

In [28]:
# checking variables data type
# type(client_0_bills)
print(type(client_0_bills))

<class 'pandas.core.frame.DataFrame'>

# 3. Display the general information of the dataset and try to answer the following questions :  
○ How many rows and columns do we have in this dataset ?

○ How many categorical features are present in the dataset ?

○ How much memory space does the dataset consume ?

In [46]:
# Display the data general information
client_0_bills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          int64
 6   counter_coefficient   int64
 7   consommation_level_1  int64
 8   consommation_level_2  int64
 9   consommation_level_3  int64
 10  consommation_level_4  int64
 11  old_index             int64
 12  new_index             int64
 13  months_number         int64
 14  counter_ELEC          bool
 15  counter_GAZ           bool
dtypes: bool(2), float64(1), int64(10), object(3)
memory usage: 486.7+ MB

In [9]:
# i. How many rows and columns do we have in this dataset ?
client_0_bills.shape

(4476749, 16)

In [10]:
# ii. How many categorical features are present in the dataset ?
client_0_bills.select_dtypes(include=['object', 'category']).columns

Index(['client_id', 'invoice_date', 'counter_statue', 'counter_type'], dtype='object')

In [12]:
# ii.o count all the categories
# client_0_bills.nunique()
len(client_0_bills.select_dtypes(include=['object', 'category']).columns)

4

In [13]:
# iii. How much memory space does the dataset consume ?
client_0_bills.memory_usage(deep=True).sum()

np.int64(1499843451)

### 4. Inspect the dataset for potential missing values.

In [45]:
# Inspecting for missing values
client_0_bills.isnull().sum()

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          0
counter_code            0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_ELEC            0
counter_GAZ             0
dtype: int64

# 5. Select your strategy to handle missing values, and tell us why you had made that choice.

In [20]:
# view colums with missing values
client_0_bills.columns[client_0_bills.isnull().any()]

Index(['counter_number', 'reading_remarque'], dtype='object')

In [21]:
# view rows with missing values
missing_rows = client_0_bills[client_0_bills.isnull().any(axis=1)]
print(missing_rows)

                   client_id invoice_date  tarif_type  counter_number  \
615      train_Client_100012   2010-01-28          11        144686.0
1261     train_Client_100027   2016-05-08          11         21762.0
1301     train_Client_100028   2017-03-24          40        127333.0
2196     train_Client_100060   2014-03-21          11       1177241.0
2366     train_Client_100067   2018-11-15          11        964342.0
...                      ...          ...         ...             ...
4469301   train_Client_99807   2017-08-02          10        561179.0
4470347   train_Client_99832   2013-06-26          11       1242722.0
4470694    train_Client_9984   2013-04-09          11         96557.0
4473803    train_Client_9992   2018-07-26          11          3020.0
4474866   train_Client_99947   2016-09-05          40       6847056.0

        counter_statue  counter_code  reading_remarque  counter_coefficient  \
615                  0           413               NaN                    1
1261                 0           413               NaN                    1
1301                 0             5               NaN                    1
2196                 0           203               NaN                    1
2366                 0           203               NaN                    1
...                ...           ...               ...                  ...
4469301              0           202               NaN                    1
4470347              0           207               NaN                    1
4470694              0           203               NaN                    1
4473803              0           203               NaN                    1
4474866              0             5               NaN                    1

         consommation_level_1  consommation_level_2  consommation_level_3  \
615                       419                     0                     0
1261                      169                     0                     0
1301                      177                     0                     0
2196                      327                     0                     0
2366                      596                     0                     0
...                       ...                   ...                   ...
4469301                   134                     0                     0
4470347                   149                     0                     0
4470694                   707                     0                     0
4473803                  2400                  1200                   161
4474866                   222                     0                     0

         consommation_level_4  old_index  new_index  months_number  \
615                         0       1723       2142             12
1261                        0      17410      17579              4
1301                        0       8849       9026              4
2196                        0       5042       5369              4
2366                        0      35114      35710              4
...                       ...        ...        ...            ...
4469301                     0       9633       9767              4
4470347                     0      43434      43583              2
4470694                     0      65977      66684              4
4473803                     0       1470       5231             12
4474866                     0       6900       7122              4

        counter_type
615             ELEC
1261            ELEC
1301             GAZ
2196            ELEC
2366            ELEC
...              ...
4469301         ELEC
4470347         ELEC
4470694         ELEC
4473803         ELEC
4474866          GAZ

[4579 rows x 16 columns]

In [29]:
# Dropping the column with missing values
# Drop column ['reading_remarque'] since there are too many missing values
client_0_bills.drop(columns=['reading_remarque'], inplace=True)

In [30]:
# Converting missing values to 0s in the column with fewer missing values
# Convert column ['counter_number']
client_0_bills['counter_number'].fillna(0, inplace=True)

<ipython-input-30-4329ef578aa7>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  client_0_bills['counter_number'].fillna(0, inplace=True)

# 6. Run a descriptive analysis on numeric features (columns).

In [32]:
# Describing numeric features (columns)
client_0_bills.describe()

,tarif_type,counter_number,counter_code,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06
mean,2.012804e+01,1.230582e+11,1.724884e+02,1.003040e+00,4.109795e+02,1.093225e+02,2.030620e+01,5.292588e+01,1.776700e+04,1.834970e+04,4.483095e+01
std,1.347256e+01,1.657267e+12,1.338871e+02,3.083466e-01,7.573080e+02,1.220123e+03,1.574239e+02,8.754725e+02,4.036693e+04,4.095321e+04,3.128335e+03
min,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.100000e+01,1.211020e+05,5.000000e+00,1.000000e+00,7.900000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.791000e+03,2.056000e+03,4.000000e+00
50%,1.100000e+01,4.945580e+05,2.030000e+02,1.000000e+00,2.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.690000e+03,8.192000e+03,4.000000e+00
75%,4.000000e+01,1.115161e+06,2.070000e+02,1.000000e+00,6.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.166000e+04,2.234300e+04,4.000000e+00
max,4.500000e+01,2.798115e+13,6.000000e+02,5.000000e+01,9.999100e+05,9.990730e+05,6.449200e+04,5.479460e+05,2.800280e+06,2.870972e+06,6.366240e+05

# 7. Select the bills records for the client with an id ='train_Client_0', using 2 methods.

In [33]:
# Method I - Querrying Method
bills = client_0_bills.query("client_id == 'train_Client_0'")
print(bills)

         client_id invoice_date  tarif_type  counter_number counter_statue  \
0   train_Client_0   2014-03-24          11       1335667.0              0
1   train_Client_0   2013-03-29          11       1335667.0              0
2   train_Client_0   2015-03-23          11       1335667.0              0
3   train_Client_0   2015-07-13          11       1335667.0              0
4   train_Client_0   2016-11-17          11       1335667.0              0
5   train_Client_0   2017-07-17          11       1335667.0              0
6   train_Client_0   2018-12-07          11       1335667.0              0
7   train_Client_0   2019-03-19          11       1335667.0              0
8   train_Client_0   2011-07-22          11       1335667.0              0
9   train_Client_0   2011-11-22          11       1335667.0              0
10  train_Client_0   2008-11-25          11       1335667.0              0
11  train_Client_0   2012-07-23          11       1335667.0              0
12  train_Client_0   2012-11-29          11       1335667.0              0
13  train_Client_0   2013-07-22          11       1335667.0              0
14  train_Client_0   2014-07-18          11       1335667.0              0
15  train_Client_0   2014-11-24          11       1335667.0              0
16  train_Client_0   2015-11-18          11       1335667.0              0
17  train_Client_0   2012-03-27          11       1335667.0              0
18  train_Client_0   2011-03-30          11       1335667.0              0
19  train_Client_0   2013-02-12          11       1335667.0              0
20  train_Client_0   2010-07-22          11       1335667.0              0
21  train_Client_0   2010-11-24          11       1335667.0              0
22  train_Client_0   2005-10-17          11       1335667.0              0
23  train_Client_0   2006-02-24          11       1335667.0              0
24  train_Client_0   2006-06-23          11       1335667.0              0
25  train_Client_0   2006-10-18          11       1335667.0              0
26  train_Client_0   2007-06-27          11       1335667.0              0
27  train_Client_0   2007-10-25          11       1335667.0              0
28  train_Client_0   2007-02-26          11       1335667.0              0
29  train_Client_0   2008-07-28          11       1335667.0              0
30  train_Client_0   2009-01-04          11       1335667.0              0
31  train_Client_0   2009-07-27          11       1335667.0              0
32  train_Client_0   2009-11-24          11       1335667.0              0
33  train_Client_0   2010-03-29          11       1335667.0              0
34  train_Client_0   2008-01-04          11       1335667.0              0

    counter_code  counter_coefficient  consommation_level_1  \
0            203                    1                    82
1            203                    1                  1200
2            203                    1                   123
3            207                    1                   102
4            207                    1                   572
5            207                    1                   314
6            207                    1                   541
7            207                    1                   585
8            203                    1                  1200
9            203                    1                  1082
10           203                    1                   174
11           203                    1                   628
12           203                    1                   886
13           203                    1                   147
14           203                    1                    99
15           203                    1                   141
16           207                    1                   217
17           203                    1                   292
18           203                    1                   497
19           203                    1                    38
20           203                    1                   278
21           203                    1                   234
22           203                    1                   124
23           203                    1                   141
24           203                    1                   162
25           203                    1                   159
26           203                    1                   240
27           203                    1                   276
28           203                    1                   182
29           203                    1                   171
30           203                    1                   315
31           203                    1                   312
32           203                    1                   267
33           203                    1                   276
34           203                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type
0       14302      14384              4         ELEC
1       12294      13678              4         ELEC
2       14624      14747              4         ELEC
3       14747      14849              4         ELEC
4       15066      15638             12         ELEC
5       15638      15952              8         ELEC
6       15952      16493             12         ELEC
7       16493      17078              8         ELEC
8        7770       9156              4         ELEC
9        9156      10238              4         ELEC
10       5417       5591              4         ELEC
11      10780      11408              4         ELEC
12      11408      12294              4         ELEC
13      13983      14130              4         ELEC
14      14384      14483              4         ELEC
15      14483      14624              4         ELEC
16      14849      15066              4         ELEC
17      10488      10780              4         ELEC
18       7273       7770              4         ELEC
19      14264      14302              2         ELEC
20       6761       7039              4         ELEC
21       7039       7273              4         ELEC
22       3685       3809              4         ELEC
23       3809       3950              4         ELEC
24       3950       4112              4         ELEC
25       4112       4271              4         ELEC
26       4453       4693              4         ELEC
27       4693       4969              4         ELEC
28       4271       4453              4         ELEC
29       5246       5417              4         ELEC
30       5591       5906              4         ELEC
31       5906       6218              4         ELEC
32       6218       6485              4         ELEC
33       6485       6761              4         ELEC
34       4969       5246              4         ELEC

In [34]:
# Method II - Condition Based
bills_II = client_0_bills[client_0_bills['client_id'] == 'train_Client_0']
print(bills_II)

         client_id invoice_date  tarif_type  counter_number counter_statue  \
0   train_Client_0   2014-03-24          11       1335667.0              0
1   train_Client_0   2013-03-29          11       1335667.0              0
2   train_Client_0   2015-03-23          11       1335667.0              0
3   train_Client_0   2015-07-13          11       1335667.0              0
4   train_Client_0   2016-11-17          11       1335667.0              0
5   train_Client_0   2017-07-17          11       1335667.0              0
6   train_Client_0   2018-12-07          11       1335667.0              0
7   train_Client_0   2019-03-19          11       1335667.0              0
8   train_Client_0   2011-07-22          11       1335667.0              0
9   train_Client_0   2011-11-22          11       1335667.0              0
10  train_Client_0   2008-11-25          11       1335667.0              0
11  train_Client_0   2012-07-23          11       1335667.0              0
12  train_Client_0   2012-11-29          11       1335667.0              0
13  train_Client_0   2013-07-22          11       1335667.0              0
14  train_Client_0   2014-07-18          11       1335667.0              0
15  train_Client_0   2014-11-24          11       1335667.0              0
16  train_Client_0   2015-11-18          11       1335667.0              0
17  train_Client_0   2012-03-27          11       1335667.0              0
18  train_Client_0   2011-03-30          11       1335667.0              0
19  train_Client_0   2013-02-12          11       1335667.0              0
20  train_Client_0   2010-07-22          11       1335667.0              0
21  train_Client_0   2010-11-24          11       1335667.0              0
22  train_Client_0   2005-10-17          11       1335667.0              0
23  train_Client_0   2006-02-24          11       1335667.0              0
24  train_Client_0   2006-06-23          11       1335667.0              0
25  train_Client_0   2006-10-18          11       1335667.0              0
26  train_Client_0   2007-06-27          11       1335667.0              0
27  train_Client_0   2007-10-25          11       1335667.0              0
28  train_Client_0   2007-02-26          11       1335667.0              0
29  train_Client_0   2008-07-28          11       1335667.0              0
30  train_Client_0   2009-01-04          11       1335667.0              0
31  train_Client_0   2009-07-27          11       1335667.0              0
32  train_Client_0   2009-11-24          11       1335667.0              0
33  train_Client_0   2010-03-29          11       1335667.0              0
34  train_Client_0   2008-01-04          11       1335667.0              0

    counter_code  counter_coefficient  consommation_level_1  \
0            203                    1                    82
1            203                    1                  1200
2            203                    1                   123
3            207                    1                   102
4            207                    1                   572
5            207                    1                   314
6            207                    1                   541
7            207                    1                   585
8            203                    1                  1200
9            203                    1                  1082
10           203                    1                   174
11           203                    1                   628
12           203                    1                   886
13           203                    1                   147
14           203                    1                    99
15           203                    1                   141
16           207                    1                   217
17           203                    1                   292
18           203                    1                   497
19           203                    1                    38
20           203                    1                   278
21           203                    1                   234
22           203                    1                   124
23           203                    1                   141
24           203                    1                   162
25           203                    1                   159
26           203                    1                   240
27           203                    1                   276
28           203                    1                   182
29           203                    1                   171
30           203                    1                   315
31           203                    1                   312
32           203                    1                   267
33           203                    1                   276
34           203                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type
0       14302      14384              4         ELEC
1       12294      13678              4         ELEC
2       14624      14747              4         ELEC
3       14747      14849              4         ELEC
4       15066      15638             12         ELEC
5       15638      15952              8         ELEC
6       15952      16493             12         ELEC
7       16493      17078              8         ELEC
8        7770       9156              4         ELEC
9        9156      10238              4         ELEC
10       5417       5591              4         ELEC
11      10780      11408              4         ELEC
12      11408      12294              4         ELEC
13      13983      14130              4         ELEC
14      14384      14483              4         ELEC
15      14483      14624              4         ELEC
16      14849      15066              4         ELEC
17      10488      10780              4         ELEC
18       7273       7770              4         ELEC
19      14264      14302              2         ELEC
20       6761       7039              4         ELEC
21       7039       7273              4         ELEC
22       3685       3809              4         ELEC
23       3809       3950              4         ELEC
24       3950       4112              4         ELEC
25       4112       4271              4         ELEC
26       4453       4693              4         ELEC
27       4693       4969              4         ELEC
28       4271       4453              4         ELEC
29       5246       5417              4         ELEC
30       5591       5906              4         ELEC
31       5906       6218              4         ELEC
32       6218       6485              4         ELEC
33       6485       6761              4         ELEC
34       4969       5246              4         ELEC

### 8. Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.

In [41]:
# transform column ['counter_type'] to a numeric variable
# client_bills = pd.get_dummies(client_0_bills, columns=['counter_type'], prefix='counter')
# print(client_bills)

print(client_0_bills.columns)

Index(['client_id', 'invoice_date', 'tarif_type', 'counter_number',
       'counter_statue', 'counter_code', 'counter_coefficient',
       'consommation_level_1', 'consommation_level_2', 'consommation_level_3',
       'consommation_level_4', 'old_index', 'new_index', 'months_number',
       'counter_ELEC', 'counter_GAZ'],
      dtype='object')

In [50]:
# transform column ['counter_type'] to a numeric variable using Label Encoding
from sklearn.preprocessing import LabelEncoder

# Instantiate the LabelEncoder
label_encoder = LabelEncoder()

# Assuming 'counter_type' column exists, fit_transform and create a new column
# If 'counter_type' is dropped, you'll need to reload the data or recreate the column
if 'counter_type' in client_0_bills.columns:
    client_0_bills['counter_type_encoded'] = label_encoder.fit_transform(client_0_bills['counter_type'])
else:
    print("Column 'counter_type' not found. It may have been dropped previously.")

# Print the updated columns of the DataFrame
print(client_0_bills.columns)

Index(['client_id', 'invoice_date', 'tarif_type', 'counter_number',
       'counter_statue', 'counter_code', 'reading_remarque',
       'counter_coefficient', 'consommation_level_1', 'consommation_level_2',
       'consommation_level_3', 'consommation_level_4', 'old_index',
       'new_index', 'months_number', 'counter_type', 'counter_type_encoded'],
      dtype='object')

In [51]:
print(client_0_bills.columns)

Index(['client_id', 'invoice_date', 'tarif_type', 'counter_number',
       'counter_statue', 'counter_code', 'reading_remarque',
       'counter_coefficient', 'consommation_level_1', 'consommation_level_2',
       'consommation_level_3', 'consommation_level_4', 'old_index',
       'new_index', 'months_number', 'counter_type', 'counter_type_encoded'],
      dtype='object')

# 9. Delete the 'counter_statue' feature from the Dataframe

In [52]:
# Delete "counter_statue" column
client_0_bills.drop(columns=['counter_statue'], inplace=True)
print(client_0_bills.columns)

Index(['client_id', 'invoice_date', 'tarif_type', 'counter_number',
       'counter_code', 'reading_remarque', 'counter_coefficient',
       'consommation_level_1', 'consommation_level_2', 'consommation_level_3',
       'consommation_level_4', 'old_index', 'new_index', 'months_number',
       'counter_type', 'counter_type_encoded'],
      dtype='object')