<a href="https://colab.research.google.com/github/Owino-Paul/Learn_Git/blob/master/Data_Cleaning_%26_Transformation_With_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing Pandas Library
import pandas as pd

# Creatign Data Set to work with

In [ ]:
# Creating the dataset
data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
}

# Converting the dictionary into a DataFrame
employee_df = pd.DataFrame(data)

# Displaying the DataFrame
print(employee_df)

    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4

## 1. Use the iloc method to select the first 3 rows of the dataframe.

In [ ]:
# Accessing first 3 rows using .iloc
rows_to_access = employee_df.iloc[:3]
print(rows_to_access)

   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

## 2. Use the loc method to select all rows where the Department is "Marketing".

In [ ]:
# Selecting all rows using .loc method in "Marketing"
marketers = employee_df.loc[employee_df['Department'] == 'Marketing']
print(marketers)

   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

## 3. Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.

In [ ]:
# Selecting first 4 rows using .iloc method to select Age and Gender
age_gender = employee_df.iloc[:4, [2, 3]]
print(age_gender)

   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

## 4. Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".

In [ ]:
# Using .loc method to select "salary" and "experience" columns for all Males
salary_exp = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience', 'Gender']]
print(salary_exp)

   Salary  Experience Gender
0   50000           3   Male
2   45000           2   Male
4   70000          10   Male